img{
    width: 45px;
}
div a,button{
    margin: 12px;
    border: none;
}

img:hover{
    border:solid 4px #01b7ff;
    transition: 0.4s;
    border-radius: 50%;
}

.git:hover{
    border: solid 4px #01b7ff;
    border-radius: 50%;
    transition: 0.4s;
}

button:hover{
    background: #01b7ff;
    border: none;
    color: #000;
    transition: .6s;
}
@media (max-width: 575px){
    div{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}