<div>
    <a href="https://www.linkedin.com/in/joaquin-bueno-desarrollador-web-full-stack/"><img src="../../../assets/bootstrap-icons-1.8.3/linkedin.svg"></a>
    <a href="https://github.com/sanyojoa"><img class="git" src="../../../assets/bootstrap-icons-1.8.3/github.svg"></a>
    <a href="mailto:buenojoaa@gmail.com"><img src="../../../assets/bootstrap-icons-1.8.3/envelope-plus-fill.svg"></a>
    <a href="https://wa.me/+5493541384675"><img src="../../../assets/bootstrap-icons-1.8.3/whatsapp.svg"></a>
    <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLoged">INGRESAR</button>
    <button type="button" class="btn btn-dark" (click)="onLogOut()" *ngIf="isLoged">SALIR</button>
</div>
