<div class="row">
    <div class=" box-text-center col-sm-12 col-md-12 col-lg12">
        <div class="box">
            <div class="lightbar"></div>
            <h1 class="font1">EXPERIENCIA</h1>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul *ngFor="let Experiencia of expe">
            <li>
                <h2 class="font2">{{Experiencia.nombreE}}</h2>
            </li>
            <p>{{Experiencia.descripcionE}}</p>
            <p *ngIf="isLoged">
                <button class="btn btn-dark btn-sm" routerLink="/editexp/{{Experiencia.id}}">
                    <i class="bi bi-pencil-fill"></i> EDITAR
                </button>
            </p>
            <p *ngIf="isLoged">
                <button class="btn btn-danger btn-sm" (click)="delete(Experiencia.id)">
                    <i class="bi bi-trash-fill"></i> BORRAR
                </button>
            </p>
        </ul>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success btn-sm" routerLink="/nuevaexp" *ngIf="isLoged">
            AGREGAR EXPERIENCIA
        </button>
    </div>

</div>