<div class="row">
    <h1 class="font1">EXPERIENCIA LABORAL</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2 class="font2">Trabajo 1</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore cum quibusdam eaque dolorum
                suscipit quos laboriosam libero, amet iusto. Cupiditate, non accusamus omnis molestiae distinctio
                incidunt fugit ad illum.</p>
        </ul>
        <ul>
            <li>
                <h2 class="font2">Trabajo 2</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore cum quibusdam eaque dolorum
                suscipit quos laboriosam libero, amet iusto. Cupiditate, non accusamus omnis molestiae distinctio
                incidunt fugit ad illum.</p>
        </ul>
        <ul>
            <li>
                <h2 class="font2">Trabajo 3</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore cum quibusdam eaque dolorum
                suscipit quos laboriosam libero, amet iusto. Cupiditate, non accusamus omnis molestiae distinctio
                incidunt fugit ad illum.</p>
        </ul>
    </div>
</div>