<section class="vh-200">
    <div class="container" *ngIf="persona">
        <div class="row">
            <div id="caja">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="img">Foto de Perfil</label>
                        <input type="text" class="form-control" id="img" name="img" [(ngModel)]="persona.img" required>
                    </div>
                    <button class="btn btn-secondary">
                        Editar Perfil
                    </button>
                </form>
            </div>
        </div>
    </div>
    </section>
