<div class="row">
    <h1 class="font1">PROYECTOS REALIZADOS</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7- col-lg-7 parte1">
            <h2 class="font2">Encriptador</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, neque expedita perspiciatis
                consectetur totam quibusdam cum vel placeat soluta distinctio nostrum incidunt, laborum facilis dolorum
                molestias assumenda vero asperiores aspernatur!</p>
        </div>
        <div class="col-sm-12 col-md-2- col-lg-3  offset-lg-1 parte2">
            <img src="../../../assets/proyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>