<div class="row">
    <h1 class="font1">EDUCACION</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul *ngFor="let Educacion of educacion">
            <li>
                <h2 class="font2">{{Educacion.nombreE}}</h2>
            </li>
            <p>{{Educacion.descripcionE}}</p>
            <p *ngIf="isLoged">
                <button class="btn btn-dark btn-sm" routerLink="/editedu/{{Educacion.id}}">
                    <i class="bi bi-pencil-fill"></i> EDITAR
                </button>
            </p>
            <p *ngIf="isLoged">
                <button class="btn btn-danger btn-sm" (click)="borrar(Educacion.id)">
                    <i class="bi bi-trash-fill"></i> BORRAR
                </button>
            </p>
        </ul>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success btn-sm" routerLink="/nuevaedu" *ngIf="isLoged">
            AGREGAR EDUCACION
        </button>
    </div>

</div>
