<div class="row">
    <div class=" box-text-center col-sm-12 col-md-12 col-lg12">
        <div class="box">
            <div class="lightbar"></div>
            <h1 class="font1">HARD & SKILL</h1>
        </div>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg4" *ngFor="let Skill of skill">
        <div class="container">
            <div class="card">
                <div class="percent" style="--clr:#ff00be; --num:{{Skill.porcentajeS}};">
                    <div class="dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>{{Skill.porcentajeS}}<span>%</span></h2>
                        <p>{{Skill.nombreS}}</p>
                    </div>
                </div>
            </div>
        </div>
        <p *ngIf="isLoged">
            <button class="btn btn-dark btn-sm" routerLink="/editskill/{{Skill.id}}">
                <i class="bi bi-pencil-fill"></i> EDITAR
            </button>
        </p>
        <p *ngIf="isLoged">
            <button class="btn btn-danger btn-sm" (click)="borrar(Skill.id)">
                <i class="bi bi-trash-fill"></i> BORRAR</button>
        </p>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success btn-sm" routerLink="/nuevaskill" *ngIf="isLoged">
            AGREGAR SKILL
        </button>
    </div>
</div>