<div class="row">
    <h1 class="font1">HARD & SKILL SOFT</h1>
    <div class="text-center col-sm-6 col-md-4 col-lg4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="75"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#C521D6'" 
            [innerStrokeColor]="'#FFA7EC'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="50"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#C521D6'" 
            [innerStrokeColor]="'#FFA7EC'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="55"
            [imageWidth]="55"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#C521D6'" 
            [innerStrokeColor]="'#FFA7EC'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#C521D6'" 
            [innerStrokeColor]="'#FFA7EC'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/equipo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#C521D6'" 
            [innerStrokeColor]="'#FFA7EC'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg4">
        <circle-progress
            [percent]="96"
            [radius]="100"
            [imageSrc]="'../assets/pensamiento.jpg'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#C521D6'" 
            [innerStrokeColor]="'#FFA7EC'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
</div>
