<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreS">Nombre de la Skill</label>
                    <input type="text" class="form-control" id="nombreS" name="nombreS" [(ngModel)]="nombreS" required>
                </div>
                <div class="form-group">
                    <label for="porcentajeS">Porcentaje de la Skill</label>
                    <input type="text" class="form-control" id="porcentajeS" name="porcentajeS" [(ngModel)]="porcentajeS" required>
                </div>
                <button class="btn btn-success">
                    Agregar Skill
                </button>
            </form>
        </div>
    </div>
</div>
